*{
    margin: 0%;
    padding: 0%;
}
.body{
    background-color: #ffff;
    height: 100vh;
    width: 100%;
}
header{
    width: 100%;
    margin: auto;
    background-color:#000000fb;
    border-radius: 0px;
}
header h1{
    font-size: 35px;
    text-align: right;
    padding: 7px 15px;
    color: #07ff07;
}
.upperText{
    color: #07ff07;
}
div{
    width: 80%;
    height: 200px;
    text-align: center;
    margin: 5px auto;
    padding-top: 20px;

    background-color: #000000fb;
}
.upperText{
    font-size: 30px;
}
.servise_section{
    background-color: #000000fb;
    width: 80%;
    height: fit-content;
    display: flex;
    color: #07ff07;
}
.servise_section .servise1{
    width: 20%;
    margin-top: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #07ff07;

}
